@import '../node_modules/bootstrap/dist/css/bootstrap.css';

$text-color: #afafaf;
$btn-color: #3cc395;
$text-color-secondary: white;
$menu-color: #4ccfc1;
$border-color: #e1e1e1;

@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

@mixin myFont($color: black, $size: 16px)  {
    color: $color;
    font-size: $size;
}

body {
    font-family: 'Bebas Neue', cursive;
}

.header {
    height: 84px;

    .logo {
        @include flexAlign;
        
        img {
            width: 105px;
        }
    }

    .search {
        width: 100%;
        height: 100%;
        @include flexAlign;
        position: relative;

        @media screen and (max-width: 768px) {
            display: none;
        }

        &__input {
            width: 100%;
            outline: none;
            border: 1px solid $border-color;
            height: 30px;
        }

        &__img {
            position: absolute;
            right: 10px;
            width: 20px;
        }
    }

    .cart {
        height: 100%;
        width: 100%;
        @include flexAlign(space-between);
        padding: 0 20px;
        box-sizing: border-box;
        @include myFont($text-color, 33px);

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .menu {
        @include flexAlign;
        display: none;

        @media screen and (max-width: 768px) {
            display: flex;
        }

        &__container {
            min-width: 40px;
            height: 40px;
            border-radius: 6px;
            border: 2px solid $btn-color;
            @include flexAlign;

            &-line {
                width: 30px;
                border-bottom: 2px solid $btn-color;
                position: relative;
                transition: .4s;

                &::after {
                    content: '';
                    width: 30px;
                    border-bottom: 2px solid $btn-color;
                    position: absolute;
                    top: 7px;
                    left: 0;
                    transition: .4s;
                }

                &::before {
                    content: '';
                    width: 30px;
                    border-bottom: 2px solid $btn-color;
                    position: absolute;
                    top: -7px;
                    left: 0;
                    transition: .4s;
                }
            }
        }

        .checkbox {
            display: none;
        }
    }
}

.links {
    background-color: $menu-color;
    @include myFont($text-color-secondary, 21px);
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        display: none;
    }

    &__block {
        height: 35px;
        padding: 0 15px;
        box-sizing: border-box;
        @include flexAlign(space-between);

        @media screen and (max-width: 1200px) {
            height: 70px;
            justify-content: center;
        }


        &-item {
            padding: 4px 20px 0 20px;
            color: $text-color-secondary;
            transition: .4s;

            &:hover {
                text-decoration: none;
            }
        }
    }
}


.checkbox:checked + .menu__container > .menu__container-line {
    border-color: transparent;

    &::after {
        top: 0;
        transform: rotate(-45deg);
    }

    &::before {
        top: 0;
        transform: rotate(45deg);
    }
}


.slider {
    background-color: $btn-color;

    &__image {
        @include flexAlign;
        height: 445px;
    }

    &__info {
        @include flexAlign($vert: flex-start, $pos: column);
        height: 445px;
        color: $text-color-secondary;

        &-title {
            text-transform: uppercase;
            font-size: 61px;
            line-height: 60px;
            margin-bottom: 28px;
        }

        &-text {
            text-transform: unset;
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 28px;
        }

        &-button {
            width: 140px;
            height: 46px;
            border: 3px solid $text-color-secondary;
            border-radius: 6px;
            box-sizing: border-box;
            @include flexAlign;
            font-size: 27px;
            cursor: pointer;
            padding-top: 2px;
            transition: .4s;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 140px;
                height: 46px;
                left: 0;
                top: 0;
                border: 3px solid transparent;
                border-radius: 6px;
                transition: .4s;
            }

            &:hover {
                // transform: scale(1.1);
                border: 3px solid transparent;

                &::after {
                    top: -5px;
                    transform: scale(1.1);
                    border: 3px solid $text-color-secondary;
                }
            }
        }
    }
}

.goods {

    &__line {
        height: 190px;
        box-shadow: 0 4px 7px -3px rgba(0,0,0, .4);

        @media screen and (max-width: 1367px) {
            height: auto;
            align-items: center;

            .container {
                width: auto;
            }
        }

        .arrow {
            height: 100%;
            @include flexAlign;
            cursor: pointer;

            &_right {
                transform: rotate(180deg);
            }

            @media screen and (max-width: 336px) {
                display: none;
            }
        }

        .items {
            @include flexAlign(space-between);
            height: 190px;
            width: 100%;

            @media screen and (max-width: 1367px) {
                height: auto;
                flex-direction: column;
            }

            &__elem {
                width: 100%;
                border-right: 1px solid $border-color;
                @include flexAlign;
                height: 100%;

                @media screen and (max-width: 1367px) {
                    border-right: none;
                    margin-bottom: 20px;
                }

                @media screen and (max-width: 423px) {
                    flex-direction: column;
                }

                &:last-child {
                    border-right: none;
                }

                .mrg {
                    margin-left: 70px;

                    @media screen and (max-width: 423px) {
                        margin-left: 0;
                    }
                }

                &-info {
                    font-size: 27px;
                    color: $text-color;
                    line-height: 27px; 
                }
            }
        }
    }
}

.btn {
    height: 32px;
    background-color: $btn-color;
    color: $text-color-secondary;
    font-size: 19px;
    @include flexAlign;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}

.products-header {
    background-color: $btn-color;

    &__title {
        text-transform: uppercase;
        @include myFont($text-color-secondary, 31px);
        @include flexAlign(flex-start);
        height: 67px;
    }
}

.products {
    padding: 48px 0 28px 0;

    &__item {
        width: 100%;
        height: 262px;
        border: 1px solid $border-color;
        border-radius: 2px;
        border-bottom: 5px solid $btn-color;
        box-sizing: border-box;
        @include flexAlign($pos:column);
        @include myFont($text-color, 27px);
        margin-bottom: 47px;

        &-title {
            margin: 5px 0 12px 0;
            // width: 70px; // <- ширину блока указывать обязательно
            // overflow: hidden; // скрывает контент который не влез в 70px ширины
            // white-space: nowrap; // запрет переноса строк
            // text-overflow: ellipsis; // троеточие в тексте который не влез
        }

        &-info {
            @include flexAlign;

            .cost {
                margin-right: 14px;
            }

            .btn {
                margin-top: 0;
            }
        }
    }
}

.footer {
    background-color: $menu-color;
    padding-bottom: 41px;

    &__title {
        display: block;
        @include myFont($text-color-secondary, 27px);
        padding: 42px 0 27px 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-family: 'Open Sans', sans-serif;
                @include myFont($text-color-secondary, 15px);
            }
        }
    }
}

.copyright {
    height: 46px;
    background-color: #2da89b;
    @include myFont($text-color-secondary, 15px);
    font-family: 'Open Sans', sans-serif;
    @include flexAlign;
}
